.adminWord {
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;

  @media screen and (max-width: $screen-lg) {
    height: 150px;
  }

  @media screen and (max-width: $screen-md) {
    height: 100px;
    width: 95%;
    margin-bottom: 40px;
  }

  @media screen and (max-width: $screen-sm) {
    height: 60px;
    width: 100%;
    margin-bottom: 25px;
  }

  @include themed() {
    background: t($bg-admin);
    border: t($border-admin);
  }

  .chococard {
    width: 180px;
    height: 180px;
    transform: scale(1.2);

    @media screen and (max-width: $screen-lg) {
      height: 150px;
      width: 150px;
    }

    @media screen and (max-width: $screen-md) {
      height: 100px;
      width: 100px;
    }

    @media screen and (max-width: $screen-sm) {
      height: 60px;
      width: 60px;
    }
  }

  .message {
    padding: 30px;
    width: 70%;
    height: 120px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $screen-md) {
      padding: 30px 10px;
    }

    @media screen and (max-width: $screen-sm) {
      padding: 25px 5px;
    }
    
    
    p {
      font-family: $font-admin;
      font-weight: map-get($font-weight, 'bold');
      font-size: $size-nav;

      @media screen and (max-width: $screen-lg) {
        font-size: $size-nav-md;
      }

      @media screen and (max-width: $screen-md) {
        font-size: 0.9em;
      }

      @media screen and (max-width: $screen-sm) {
        font-size: 0.65em;
        padding: 8px 0px;
      }

      @media screen and (max-width: $screen-xs) {
        font-size: 0.55em;
      }

      @include themed() {
       color: t($text);
      }
    }
  }

}