.adminWord {
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;

  @media screen and (max-width: $screen-lg) {
    height: 150px;
  }

  @include themed() {
    background: t($bg-admin);
    border: t($border-admin);
  }

  .chococard {
    width: 180px;
    height: 180px;
    transform: scale(1.2);

    @media screen and (max-width: $screen-lg) {
      height: 150px;
      width: 150px;
    }
  }

  .message {
    padding: 30px;
    width: 70%;
    height: 120px;
    display: flex;
    align-items: center;


    
    p {
      font-family: $font-admin;
      font-weight: map-get($font-weight, 'bold');
      font-size: $size-nav;

      @media screen and (max-width: $screen-lg) {
        font-size: $size-nav-md;
      }

      @include themed() {
       color: t($text);
      }
    }
  }

}