.castle {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  width:90%;
  transform: scale(1.3);
  position: relative;
  z-index:9999;

  @media screen and (max-width: $screen-lg) {
    transform: scale(1.5);
  }

  @media screen and (max-width: $screen-md) {
    transform: scale(1.9);
    width:98%;
  }

  @media screen and (max-width: $screen-sm) {
    transform: scale(2.2);
    width:100%;
  }

  .st6 {
    @include themed() {
      // stroke: t($text); //best with white line
    }
  }

  .border-fill {
    @include themed() {
      fill: t($bg-border);
    }
  }

  .castle-fill, .trap {
    @include themed() {
      fill: t($bg-castle);
    }
  }

  .potion, .history, .defense {
    @include themed() {
      fill: t($bg-building);
    }
    animation: lighting 1.8s;
    cursor: pointer;
  }

  .trap {
    @include themed() {
      fill: t($bg-building);
    }
    cursor: pointer;
  }
  
  .defense {
    animation-delay: $animation-delay;
  }

  .history {
    animation-delay: $animation-delay * 2;
  }

  .potion {
    animation-delay: $animation-delay * 3;
  }

  

  @keyframes lighting  {
   50% {
      opacity: .65;
      fill: $dark-color-hover;
    }
  }

  .castle-items {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;

    .potionSvg, .defenseSvg, .historySvg, .trapSvg {
      position: absolute;
      transform: scale(0.88);
      z-index:99999;

      
      @media screen and (max-width: $screen-lg) {
        transform: scale(0.63);
      }

      @media screen and (max-width: $screen-md) {
        transform: scale(0.60);
      }
   
      @media screen and (max-width: $screen-sm) {
        transform: scale(0.38);
      }

      @media screen and (max-width: $screen-xs) {
        transform: scale(0.34);
      }

      @media screen and (max-width: 320px) {
        transform: scale(0.24);
      }
    }
  
    .potionSvg {
      top: 51%;
      left: 69.8%;
  
      @media screen and (max-width: $screen-lg) {
        top: 37%;
        left: 65%;
      }

      @media screen and (max-width: $screen-md) {
        top: 35%;
        left: 64%;
      }

      @media screen and (max-width: $screen-sm) {
        top: 28%;
        left: 61%;
      }

      @media screen and (max-width: $screen-xs) {
        top: -5%;
        left: 52%;
      }

      @media screen and (max-width: 320px) {
        top: -36%;
        left: 41%;
      }
    
    }
  
    .defenseSvg {
      top: 48.8%;
      left: 13.8%;

      @media screen and (max-width: $screen-lg) {
        top: 34%;
        left: 1%;
      }

      @media screen and (max-width: $screen-md) {
        top: 31%;
        left: -1%;
      }

      @media screen and (max-width: $screen-sm) {
        top: 22%;
        left: -8%;
      }

      @media screen and (max-width: $screen-xs) {
        top: -4%;
        left: -36%;
      }

      @media screen and (max-width: 320px) {
        top: -37%;
        left: -64%;
      }
    }
  
    .historySvg {
      top: 0.4%;
      left: 34.7%;

      @media screen and (max-width: $screen-lg) {
        top: -29%;
        left: 27%;
      }
  
      @media screen and (max-width: $screen-md) {
        top: -30%;
        left: 27%;
      }

      @media screen and (max-width: $screen-sm) {
        top: -38%;
        left: 23%;
      }

      @media screen and (max-width: $screen-xs) {
        top: -106%;
        left: 10%;
      }

      @media screen and (max-width: 320px) {
        top: -150%;
        left: -11%;
      }
    }
  
    .trapSvg {
      top: 72.8%;
      left: 46.6%;

      @media screen and (max-width: $screen-lg) {
        top: 58%;
        left: 41%;
      }

      @media screen and (max-width: $screen-md) {
        top: 55%;
        left: 41%;
      }

      @media screen and (max-width: $screen-sm) {
        top: 50%;
        left: 38.5%;
      }

      @media screen and (max-width: $screen-xs) {
        top: 13%;
        left: 30.5%;
      }

      @media screen and (max-width: 320px) {
        top: -6%;
        left: 16.5%;
      }
    }
  
    .potionItem, .defenseItem, .historyItem, .trapItem {
      cursor: pointer;
      opacity: 0;

  
      @media screen and (max-width: $screen-md) {
        cursor: default;
      }
     }
    }
  }

 

