.castle {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  width:90%;
  transform: scale(1.30);

  .st6, .st7 {
    @include themed() {
      // stroke: t($text); //best with white line
    }
  }

  .border-fill {
    @include themed() {
      fill: t($bg-border);
    }
  }

  .castle-fill, .trap {
    @include themed() {
      fill: t($bg-castle);
    }
  }

  .potion, .history, .defense, .trap{
    @include themed() {
      fill: t($bg-building);
    }
    animation: lighting 1.8s;
  }
  
  .defense {
    animation-delay: $animation-delay;
  }

  .history {
    animation-delay: $animation-delay * 2;
  }

  .potion {
    animation-delay: $animation-delay * 3;
  }

  @keyframes lighting  {
   50% {
      opacity: .65;
      fill: $dark-color-hover;
    }
  }

  .potion:hover, .history:hover, .defense:hover, .trap:hover {
    cursor: pointer;
    @include themed() {
      fill: t($bg-castle-hover);
    }
  }


}