.castle {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  width:90%;
  transform: scale(1.3);
  position: relative;
  z-index:9999;

  @media screen and (max-width: $screen-lg) {
    transform: scale(1.5);
  }

  @media screen and (max-width: $screen-md) {
    transform: scale(1.9);
    width:98%;
  }

  @media screen and (max-width: $screen-sm) {
    transform: scale(2.2);
    width:100%;
  }

  .st6 {
    @include themed() {
      // stroke: t($text); //best with white line
    }
  }

  .border-fill {
    @include themed() {
      fill: t($bg-border);
    }
  }

  .castle-fill, .trap {
    @include themed() {
      fill: t($bg-castle);
    }
  }

  .potion, .history, .defense {
    @include themed() {
      fill: t($bg-building);
    }
    animation: lighting 1.8s;
    cursor: pointer;
  }

  .trap {
    @include themed() {
      fill: t($bg-building);
    }
    cursor: pointer;
  }
  
  .defense {
    animation-delay: $animation-delay;
  }

  .history {
    animation-delay: $animation-delay * 2;
  }

  .potion {
    animation-delay: $animation-delay * 3;
  }

  

  @keyframes lighting  {
   50% {
      opacity: .65;
      fill: $dark-color-hover;
    }
  }

  .potionSvg, .defenseSvg, .historySvg, .trapSvg {
    position: absolute;
    transform: scale(0.88);
    z-index:99999;

    @media screen and (max-width: $screen-lg) {
      transform: scale(0.55);
    }

    @media screen and (max-width: $screen-md) {
      transform: scale(0.30);
    }
    @media screen and (max-width: $screen-sm) {
      transform: scale(0.16);
    }
  }

  .potionSvg {
    top: 51%;
    left: 69.8%;

    @media screen and (max-width: $screen-lg) {
      top: 40.2%;
      left: 66%
    }

    @media screen and (max-width: $screen-md) {
      top: 10.2%;
      left: 54%
    }

    @media screen and (max-width: $screen-sm) {
      top: -34%;
      left: 38%
    }
  }

  .defenseSvg {
    top: 48.8%;
    left: 13.8%;

    @media screen and (max-width: $screen-lg) {
      top: 37.2%;
      left: 5.2%
    }

    @media screen and (max-width: $screen-md) {
      top: 2.2%;
      left: -23%;
      transform: scale(0.27);
    }

    @media screen and (max-width: $screen-sm) {
      top: -44%;
      left: -62%;
      transform: scale(0.15);
    }
  }

  .historySvg {
    top: 0.4%;
    left: 34.7%;

    @media screen and (max-width: $screen-lg) {
      top: -16%;
      left: 30%
    }

    @media screen and (max-width: $screen-md) {
      top: -67%;
      left: 13%;
      transform: scale(0.25);
    }

    @media screen and (max-width: $screen-sm) {
      top: -133%;
      left: -9.5%;
      transform: scale(0.14);
    }
  }

  .trapSvg {
    top: 72.8%;
    left: 46.6%;

    @media screen and (max-width: $screen-lg) {
      top: 63.5%;
      left: 43%
    }

    @media screen and (max-width: $screen-md) {
      top: 33%;
      left: 32%;
      transform: scale(0.26);
    }

    @media screen and (max-width: $screen-sm) {
      top: -9%;
      left: 17%;
      transform: scale(0.13);
    }
  }

  .potionItem, .defenseItem, .historyItem, .trapItem {
    cursor: pointer;
    opacity: 0;

    @media screen and (max-width: $screen-md) {
      cursor: default;
    }
   }
  
  }

 

