.container {
  width: 100vw;
  min-height: 100vh;

  .letter {
    width: 972px;
    height: 472px;
    margin: 6.5% auto;
    border: 5px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(34,41,43,.26);
    border-radius: 54px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include themed() {
     background: t($bg);
    }
  
    .cover {
      opacity: 1;
      border-radius: 54px;
      box-shadow: 0px 6px 6px rgba(34,41,43,.26);
      width: 100%;
      height: 76%;
      clip-path: polygon(100% 0, 100% 30%, 50.5% 100%, 49.5% 100%, 0 30%, 0 0);

      @include themed() {
        background: t($bg-second);
       }
    }
  
    h1 {
      font-family: $font;
      font-weight: map-get($font-weight, 'bold');
      font-size: 55px;
      top: 61px;
      color: $common-color;
      text-align: center;
      position: absolute;
      width: 100%;

      @include themed() {
        text-shadow: t($shadow-popup);
       }
      
    }
  
    h3, form, label, svg {
      opacity: 0;
    }
  }
  
  .letter.open {
    height: 650px;
    margin: 6.5% auto;
    transition: height 1s ease;
  
    .cover {
      position: absolute;
      opacity:0;
      height: 15%;
      transition: opacity 0.6s ease, height 0.6s ease;
    }
  
    h3 {
      opacity: 1;
      font-family: $font;
      font-weight: map-get($font-weight, 'semi-bold'); 
      font-size: 48px;
      margin: auto;
      transition: opacity 0.9s ease;

      @include themed() {
        color: t($text);
       }
    }
  
    form, label {
      opacity: 1;
      width: 100%;
      text-align: center;
      margin-bottom: 15%;
      transition: opacity 0.9s ease;
      

      input[type='text'] {
        border-radius: 35px;
        height: 70px;
        width: 75%;
        padding: 5px 30px;
        outline: none;
        font-size: 25px;
        font-family: $font;
        font-weight: map-get($font-weight, 'bold');
        text-align: center;
        cursor: pointer;

        
        @include themed() {
          color: t($input-color);
          caret-color: t($input-color);
          border: 1px solid t($text);
          background-color: t($bg-input);

          }
        
  
        &:focus {
          outline: none;
      
          @include themed() {
           box-shadow: inset 0 0px 4px 0px t($bg);
           }
        
        }
  
        &::placeholder {
          font-size: 25px;
          font-family: $font;
          font-weight: map-get($font-weight, 'bold');
          opacity: 0.25;
          vertical-align: middle;
          text-align: center;

          @include themed() {
            color: t($input-color);
            }
        }
      }
    }
  
    svg {
      opacity: 1;
      position: absolute;
      bottom: 7%;
      right: 5%;
      cursor: pointer;
      stroke: none;
      fill: $common-color;
    }
    
  }
}

