@import 'expDetails';
@import 'cauldron.scss';

.first-bloc, .second-bloc {
  grid-column: 2/5;
  grid-row: 3/4;
  justify-self: center;
  width: 80%;
  height: 55vh;

  @media screen and (max-width: $screen-lg) {
    width: 90%;
    height: 70vh;
  }

  @media screen and (max-width: $screen-md) {
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  @media screen and (max-width: $screen-xs) {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    height: 68vh;
  }

  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;

}

.first-bloc {
  @media screen and (max-width: $screen-sm) {
    height: 60vh;
  }

  @media screen and (max-width: 320px) {
    height: 65vh;
  }
}


  .recipe {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 80px;

    @media screen and (max-width: $screen-lg) {
      width: 50%;
      height: 90%;
      padding: 8px;
    }

    @media screen and (max-width: $screen-md) {
      width: 98%;
      margin-bottom: 0px;
    }

    @media screen and (max-width: $screen-sm) {
      width: 100%;
      height: 40%;
    }

    @include themed() {
      background: t($bg-third);
      box-shadow: t($shadow-book);
      color: t($text);
    }
  
      .first-col, .second-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: $size-text;

        @media screen and (max-width: $screen-lg) {
         font-size: $size-text-md;
        }

        @media screen and (max-width: $screen-md) {
          font-size: $size-text-sm;
          height: 36vh;
         }

         @media screen and (max-width: $screen-sm) {
          font-size: $size-text-xs;
          height: 24vh;
         }
 
         @media screen and (max-width: $screen-xs) {
          height: 20vh;
         }

        h3 {
          font-weight: map-get($font-weight, 'bold');
          font-size: $size-recipe-title;
          width: 100%;
          margin: 10px 0;
          text-decoration: underline;
          text-align: center;

          @media screen and (max-width: $screen-lg) {
            font-size: $size-recipe-title-md;
            margin: 6px 0;
           }

           @media screen and (max-width: $screen-md) {
            font-size: $size-recipe-title-sm;
           }

           @media screen and (max-width: $screen-sm) {
            font-size: $size-recipe-title-xs;
           }
        }

        ul {
          list-style: none;
          width: 90%;
          height: 80%;

          li {
           padding: 3% 0;
          }
        }
      }

      .first-col {
        border-right: 2px solid $common-color;
        font-family: $font;
      }

      .second-col {
        font-family: $font-admin;
        font-size: $size-text + 1px;

        @media screen and (max-width: $screen-lg) {
          font-size: $size-text-md;
         }

         @media screen and (max-width: $screen-md) {
          font-size: $size-text-sm +1px;
         }

         @media screen and (max-width: $screen-sm) {
          font-size: $size-text-xs;
         }
      }
  }

  .second-bloc {
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-top: -60px;

    @media screen and (max-width: $screen-md) {
      margin-top: -30px;
      margin-bottom: 0;
      align-items: center;
     }

     @media screen and (max-width: $screen-xs) {
      height: 55vh;
     }

     @media screen and (max-width: 320px) {
      height: 70vh;
    }
  }
