.projectBloc {
  grid-column: 2/5;
  grid-row: 3/4;
  justify-self: center;
  width: 80%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
  padding-bottom: 40px;

  @media screen and (max-width: $screen-lg) {
    height: 50vh;
    width: 85%;
    margin: 30px 0;
    padding-bottom: 30px;
  }

  @media screen and (max-width: $screen-md) {
    height: 46vh;
    width: 100%;
    padding-bottom: 15px;
    margin: 20px 0px;
  }

  @media screen and (max-width: $screen-sm) {
    padding-bottom: 10px;
    margin: 8px 0px;
    height: 40vh;
  }

  @media screen and (max-width: $screen-xs) {
    height: 35vh;
  }
 
  
  @include themed() {
    border-bottom: 3px solid t($text);
  }

  
  $b: 16px;

  @media screen and (max-width: $screen-md) {
    $b: 6px;
  }

  .image {
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(50% 0%, 100% 38%, 82% 98%, 18% 98%, 0% 38%);
    transform: scale(0.80);
    opacity: .9;
    background-origin: border-box;
    background-clip: padding-box;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;

    @media screen and (max-width: $screen-lg) {
      height: 80%;
      width: 30%;
    }

    @media screen and (max-width: $screen-md) {
      height: 60%;
      width: 40%;
    }

    @media screen and (max-width: $screen-xs) {
      height: 40%;
      width: 35%;
    }

    @include themed() {
      border: $b solid t($text);
    }

    &:hover {
      transform: scale(0.80) rotateY(360deg);
      transition: transform .8s ease;
      cursor: pointer;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: -$b; right: -$b; bottom: -$b; left: -$b;
      border: inherit; 
      background-clip: border-box;
      filter: blur(10px);
      content: '';
     
    }
  }

  .description {
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    font-family: $font;

    @media screen and (max-width: $screen-lg) {
      padding: 10px 10px;
    }

    @media screen and (max-width: $screen-md) {
      width: 75%;
    }

    @media screen and (max-width: $screen-xs) {
      width: 80%;
    }
   
    @include themed() {
      background-color: t($bg);
      box-shadow: t($shadow-bloc);
      color: t($text);
    }

    .title {
      display: flex;
      justify-content: space-around;
      width: 100%;

      h3 {
        font-weight: map-get($font-weight, 'bold');
        color: $common-color;
        font-size: $size-web-title;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2%;

        @media screen and (max-width: $screen-lg) {
          font-size: $size-web-title-md;
        }

        @media screen and (max-width: $screen-md) {
          font-size: $size-web-title-sm;
          width: 80%;
        }

        @media screen and (max-width: $screen-xs) {
          font-size: $size-web-title-xs;
          width: 75%;
        }
     
      }

      button {
        outline: none;
        border: none;
        width: 165px;
        height: 32px;
        box-shadow: $shadow-button;
        font-family: $font-admin;
        font-weight: map-get($font-weight, 'bold');
        font-size: $size-button;
        border-radius: $button-radius;

        @media screen and (max-width: $screen-lg) {
          font-size: $size-button-md;
          width: 120px;
          height: 28px;
        }

        @media screen and (max-width: $screen-md) {
          font-size: $size-button-sm;
          width: 100px;
          height: 18px;
        }

        @media screen and (max-width: $screen-xs) {
          font-size: $size-button-xs;
          width: 80px;
          height: 14px;
        }
      
        @include themed() {
          background-color: t($bg-second);  
        }

        &:hover {
          @include themed() {
            background-color: t($bg);  
          }
        }

        a, a:focus {
          outline: none;
          text-decoration: none;
          color: $common-color;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }

    h4, p {
        width: 80%;
        font-weight: map-get($font-weight, 'medium');
        margin: 0;
        text-align: center;

        @media screen and (max-width: $screen-lg) {
          font-size: $size-text-md;
          width: 85%;
        }

        @media screen and (max-width: $screen-md) {
          font-size: $size-text-sm;
          width: 95%;
        }

        @media screen and (max-width: $screen-sm) {
          font-size: $size-text-xs;
          width: 100%;
          padding: 0px 5px;
        }
    }
  }
}
