@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Oswald:500,700&display=swap');

//reset 
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

// global variables
$font: 'Montserrat', sans-serif;
$font-admin: 'Oswald', sans-serif;
$font-weight: (
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);


//colors themes
$dark-color-main: #22292B;
$dark-color-secondary: #171B1D;
$dark-color-secondary-opacity: rgba(23, 27, 29, 0.701);
$dark-color-third: #262E30;
$dark-color-text: #FFF;
$dark-nav-border: 1px solid #171B1D;
$dark-background-user: #171B1D;
$dark-input-background: #C2D0D3;
$dark-admin-background: #242B2D;
$dark-admin-border: 1px solid rgba(255,255,255,.23);

$light-color-main: #FFF;
$light-color-secondary: #F3FDFF;
$light-color-secondary-opacity: rgba(243, 253, 255, 0.701);
$light-color-third: #FAFAFA;
$light-color-text: #22292B;
$light-nav-border: 1px solid #F3FDFF;
$light-background-user: #D8BDDD;
$light-input-background:#303536;
$light-admin-background: #FBFEFF;
$light-admin-border: 1px solid #171B1D;

$border-opacity: 23%;
$common-color: #FF9115;
$color-user: #FDCD13;
$nav-shadow: 0px 4px 4px rgba(0,0,0,.25);
$nav-radius: 10px 10px 45px 45px;
$radius-user: 45px 0px 45px 45px;
$button-radius: 12px;

$nav-height: 100px;


//castle colors
$dark-color-hover: #404f4f;
$dark-color-castle: #171B1D; 
$dark-color-border: #171b1d82;
$dark-color-building: #131415;



$light-color-hover: #404f4f;
$light-color-castle: #CAD6D6 ; 
$light-color-border: #869494;
$light-color-building: #B0B7B7;

$animation-delay: 1.3s;


//shadows 
$dark-shadow-bloc: 0px 4px 4px #1E1E1D;
$dark-shadow-card: -20px 0px 2px #171B1D;
$dark-shadow-popup: 0px 3px 4px #593913;
$dark-shadow-user: inset 0px 1px 2px rgba(255,255,255,.25);
$dark-shadow-bar: -6px 0px 2px #949c9f3d;



$light-shadow-bloc: 0px 4px 4px rgba(30,30,29,.31);
$light-shadow-card: -20px 0px 2px rgba(23,27,29,.31);
$light-shadow-popup: 0px 3px 3px #E1A45A;
$light-shadow-user: inset 0px 1px 2px rgba(33,31,31,.25);
$light-shadow-bar: -6px 0px 2px rgba(23,27,29,.31);

$shadow-button: 0px 1px 2px rgba(248,173,26,.26);

//shadow books
$dark-shadow-book: 
  //top layer shadow
  0 -1px 1px $dark-color-secondary,
  //second layer
  0 -10px 0 -5px $dark-color-third,
  //second layer shadow
  0 -10px 1px -4px $dark-color-secondary,
  //third layer
  0 -20px 0 -10px $dark-color-third,
  //third layer shadow
  0 -20px 1px -9px $dark-color-secondary;

  $light-shadow-book: 
  //top layer shadow
  0 -1px 1px rgba(30,30,29,.31),
  //second layer
  0 -10px 0 -5px $light-color-third,
  //second layer shadow
  0 -10px 1px -4px rgba(30,30,29,.31),
  //third layer
  0 -20px 0 -10px $light-color-third,
  //third layer shadow
  0 -20px 1px -9px rgba(30,30,29,.31);


//text (for now changing in em)
$size-nav: 23px;
$size-word: 21px;
$size-user: 13px;


$size-web-title: 22px;
$size-recipe-title: 18px;
$size-bubble-title: 20px;

$size-text: 16px;
$size-bubble-text: 17px;

$size-bubble-button: 17px;
$size-button: 15px;


//breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;



