.mode {
  position: absolute;
  top: 0px;
  right: 12%;
  height: $nav-height;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    position: fixed;
    z-index:  9999999;
    width: 28px;
    height: 28px;
    opacity: .75;
    cursor: pointer;
  
  @include themed() {
    fill: t($theme);
  }
  }
}