.mode {
  position: absolute;
  top: 0px;
  right: 12%;
  height: $nav-height;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $screen-lg) {
    height: $nav-height-md;
  }

  @media screen and (max-width: $screen-md) {
    height: $nav-height-sm;
    top: $nav-height-sm - 10px;
    right: 0%;
  }

  .icon {
    position: fixed;
    z-index:  9999999;
    width: 28px;
    height: 28px;
    opacity: .75;
    cursor: pointer;

    @media screen and (max-width: $screen-lg) {
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: $screen-md) {
      width: 20px;
      height: 20px;
    }
  
  @include themed() {
    fill: t($theme);
  }
  }
}