@import 'settings';
@import 'color-themes';
@import 'popUp';
@import 'theme';
@import 'layout';
@import 'homepage';

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
}