@import 'settings';
@import 'color-themes';
@import 'popUp';
@import 'theme';
@import 'layout';
@import 'homepage';
@import 'castle';
@import 'adminWord';
@import 'webLayout';

#root {
  overflow: hidden;

  .App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
  }
}


