@import 'settings';
@import 'color-themes';
@import 'popUp';
@import 'theme';
@import 'layout';
@import 'homepage';
@import 'castle';
@import 'adminWord';
@import 'webLayout';
@import 'projectLayout';
@import 'previousLayout';

#root {
  overflow: hidden;
  scroll-behavior: smooth;

  .App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
  }
}


